.App {
  text-align: center;
  padding: 8px 0 0 0;
  -webkit-text-stroke-width:0.16px;
  text-shadow: 0.01em 0.01em 0.02em #707070;
  font-family: Arial, Helvetica, sans-serif;
}

.App-header {
  display: flex;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.2rem
}

.App-footer {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 0.8rem;
  width: 100%;
  position: fixed;
  bottom: 16px;
  color: rgba(0, 0, 0, .2);
}

.App-Panel {
  text-align: center;
  width: 100%;
  padding: 8px 0 8px 0;
}

.Pinyin {
  display: inline-block;
  vertical-align: top;
  text-align: justify;
  text-transform: capitalize;
  word-break: break-word;
  white-space: normal;
  width: 45vw;
  margin-left: 16px;
  padding-top: 1vh;
}
